@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.cover {
    min-height: 100vh;
    padding: 80px 0;
    color: #fff;
    background-color: #0e0d1b;
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 5px rgba(0,0,0, .8);
    max-width: 100%;
}

.cover__content {
    align-items: center;
    position: relative;
    top: 140px;
    
}

.cover__title {
    font-size: 6rem;
    line-height: 1;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}

.cover__text {
    font-size: 3rem;
    margin-bottom: 2.75em;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}

.cover__line {
    border-bottom: 1px solid  white;
    height: 30px;
    width: 6%;
    position: absolute;
    left: 48%;
}

.header {
    display: flex;
    justify-content: space-around;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}

.header_item__block1 {
    text-decoration: none;
    padding: 10px;
    color: ghostwhite;
    font-size: 19px;
    background-color:#9291ae;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    white-space: nowrap;
}

.header_item__block2 {
    text-decoration: none;
    padding: 10px;
    color: ghostwhite;
    font-size: 19px;
    background-color:#00afc7;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    white-space: nowrap;
}

.menu {
    display: flex;
    justify-content: space-around;
    height: 100%;
    position: relative;
    top: 370px;
}

.menu__title {
    color: #f07662;
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0,0,0, .8);
}

.menu__text {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Arimo', sans-serif;
}

.verticalLine {
    border-left: 1px solid white;
}

@media screen and (max-width:1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width:1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width:991px) {
    .container {
        width: 720px;
    }
    .cover__title {
        font-size: 46px;
    }
    .cover__text {
        top: 30px;
        font-size: 20px;
        position: relative;
    }
    .header_item {
        font-size: 17px;
    }
    
    .menu {
        display: flex;
        background-color: #37588b;
        flex-direction: column;
        height: 100%;
        text-align: center;
        position: relative;
        top: 410px;
    }
    .verticalLine {
        border-left: 1px solid white;
    }

}

@media screen and (max-width:767px) {
    .container {
        width: 540px;
    }
}

@media screen and (max-width:575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .cover__title {
        font-size: 46px;
    }
    .cover__text {
        font-size: 20px;
    }

    .cover__line {
        border-bottom: 1px solid  white;
        height: 30px;
        width: 6%;
        position: absolute;
        left: 48%;
    }
}



/* Slider */

.slider__head {
    display: flex;
    align-items: flex-start;
    font-family: 'Arimo', sans-serif;
    position: relative;
    margin-right: auto;
    
}

.slider {
    position: relative;
    padding: 0 60px;
    background-color: white;
    
}

.slider .slick-arrow {
    position: absolute;
    top: 20%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    outline: none;
    border: none;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background:url('../img/chevron-left-solid.svg') 0 0 /100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background:url('../img/chevron-right-solid.svg') 0 0 /100% no-repeat;
}

.slider .slick-arrow .slick-disabled {
    opacity: 0.2;
}

.slider__img {
    height: 200px;
    width: 200px;
    background-color: #fff;
    outline: none;
    border: none;
}


.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}


.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider .slick-dots li .slick-active button {
    background-color: transparent;
    border: 1px solid white;
}

.slider__title {
    font-family: 'Arimo', sans-serif;
    opacity: 0.5;
    font-weight:400;
}

.slider__text {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

.slider__price {
    font-family: 'Arimo', sans-serif;
}


